body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard__nav {
    color: #4d4dff;
    background-color: #faf9fa;
    border-bottom: 2px solid hsla(0, 0%, 52.2%, .1);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    transition: transform .3s;
    flex-direction: column;
}

.dashboard__nav--content, .logo {
    display: flex;
    align-items: center;
}

.dashboard__nav--content {
    height: 60px;
    min-height: 60px;
    width: 100%;
    justify-content: space-between;
    padding: 0 12px;
    grid-gap: 8px;
    gap: 8px;
}

.align-center {
    align-items: center;
}

.flex, .row {
    display: flex;
}

.logo {
    justify-content: center;
    margin-left: 20px;
}

.next-link-active {
  display: flex;
}

.logo__img {
    width: 100%;
    max-width: 240px;
}

.nav__links {
    padding: 0 18px;
}

.nav__icon, .nav__links {
    height: 40px;
    display: flex;
    align-items: center;
}

.nav__links .btn {
    padding: 0 16px;
    border: 0;
}

.btn__upgrade {
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
}

.btn--primary {
    background-color: #4d4dff;
    color: #fff;
}

.btn {
    align-items: center;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 14px;
    justify-content: center;
    letter-spacing: .03em;
    line-height: 1;
    opacity: 1;
    outline: 0;
    transition: background-color .2s ease 0s, opacity .2s ease 0s;
    height: 40px;
    padding: 0 24px;
    border: none;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

h1, h2, h3, h4, h5, h6, span {
    line-height: 1.24;
}

.nav__icon {
    width: 40px;
    background-color: #4d4dff;
    border-radius: 50%;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    border: none;
}

a, button {
    cursor: pointer;
}

.nav__link--home {
    color: #0a0a0a;
    margin-right: 4px;
    padding: 6px 16px;
    transition: opacity .2s;
    cursor: pointer;
    font-weight: 600;
}

.nav__btn.btn {
    margin-left: 16px;
    padding: 0 24px;
    font-weight: 700;
}

.btn__upgrade--skeleton {
    min-width: 132px;
    height: 40px;
    margin-right: 16px;
}

.skeleton {
    pointer-events: none;
    background-color: #e3e3e3;
}

.container {
    padding-top: 72px;
}